.order-page-margin{
    margin-top: 100px;
}

.sponsor-dimension{
    height: 23px;
    width: 132.13px;
}

.font-order-info{
    font-size: 10px;
    line-height: 24px;
    letter-spacing: 0.75px;
}

.margin-order-info{
    margin-left: 760px;
    margin-top: -790px;
}

.order-page-button{
    color: #5F2EEA;
    font-weight: bold;
    border-color: #5F2EEA;
    margin-right: 16px;
    width: 300px;
    height: 56px;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;
}

.order-page-button:hover{
    background-color: #5F2EEA;
    border-color: #5F2EEA;
}

.cb input{
    display:none;
}

.cb input ~.check{
    width: 20px;
    height: 20px;
    background-color: #D6D8E7;
    display: block;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 8px;
}

.cb input:checked ~.check{
    background-color: #5F2EEA;
}

.sold input{
    display:none;
}

.sold input ~.check{
    background-color: #6E7191;
    width: 20px;
    height: 20px;
    display: block;
    margin-right: 1px;
    margin-left: 1px;
    border-radius: 8px;
}

.sold input:checked ~.check{
    background-color: #6E7191;
}

.love-nest input{
    display:none;
}

.love-nest input ~.check{
    background-color: #D6D8E7;
    width: 45px;
    height: 20px;
    display: block;
    margin-right: 1px;
    margin-left: 1px;
    border-radius: 8px;
}

.love-nest input:checked ~.check{
    background-color: #F589D7;
}